# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual env
venv/
env/
.venv/

# Database (will be created on the server)
database.db
*.sqlite

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets
.env
*.env
